@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HOME BOOKSHELF</h1>
    <p class="lead">A silly application to organize our books at home</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search For a Book</h2>
        <p>
            Add some code here to search for a book.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Add A Book</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    </div>
    <div class="col-md-4">
        <h2>Random Book</h2>
        <p>Display a random book here.</p>
       
    </div>
</div>